<!-- prettier-ignore -->
{% extends 'base.html' %} {% block title %} Welcome to My Health {% endblock title %} {% block content %}
<main>
  <div class="home">
    <h1>Welcome to My Health</h1>
    <p>
      My Health is a comprehensive health management application designed to
      help you keep track of your medical information and make informed
      decisions about your health. With My Health, you can:
    </p>
    <div class="home_list">
      <ul>
        <li>
          Record and update your personal health details, including height,
          weight, blood pressure, and cholesterol levels.
        </li>
        <li>
          Track your medical conditions and diseases, making it easier to manage
          your health.
        </li>
        <li>
          Manage your medications, including dosage instructions and prescriber
          details.
        </li>
        <li>
          Keep a list of your healthcare providers, making it simple to contact
          them when needed.
        </li>
        <li>
          Store information about your preferred pharmacies for quick access.
        </li>
        <li>
          Access information about drugs from the OpenFDA API, helping you stay
          informed about your medications.
        </li>
      </ul>
    </div>
    <p>
      Our user-friendly interface and secure data storage make it easy to manage
      and update your health information from anywhere, ensuring that you always
      have access to your critical medical details. Join us today and take
      control of your health with My Health!
    </p>
  </div>
</main>
{% endblock content %}
