<!-- prettier-ignore -->
{% extends 'base.html' %} {% block title %} My Health - Delete Medication {% endblock title %} {% block content %}
{% block nav %}
{% endblock nav%}
<main>
  <div class="record-section">
    <h1>Are you sure you want to delete {{ medication.name }}</h1>
    <div class="forms">
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <div class="button">
          <button>Delete</button>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock content %}
