<!-- prettier-ignore -->
{% extends 'base.html' %}
{% block title %}
    My Health - Delete Medication
{% endblock title %}
{% block content %}
    <main>
        <div class="record-section">
            <h2>Are you sure you want to delete {{ medication.name }}?</h2>
            <div>
                <form method="post" class="forms">
                    {% csrf_token %} {{ form.as_p }}
                    <div class="button">
                        <button>Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock content %}
